.highscoreitem{
    list-style: none;
    
}
#highscorelist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    
}